/* 사이드바 css */
.sidebar {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 160px;
}

/* 사이드바 */
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
}

/* 홈화면, 거래상세내역, 수입/지출분석/ 캘린더 */
.menu-item {
  width: 100%;
  padding: 10px 8px;
  margin-bottom: 15px;
  margin-left: 10px;
  background-color: #fdc400;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.2s ease;
  font-weight: bold;
}

.menu-item:hover {
  background-color: #ffffff;
}

/* 사이드바 반응형 */
@media screen and (max-width: 900px) {
  .menu-item {
    padding: 15px 60px;
  }
}

/* ===== 화면 축소될때 반응형 ===== */
@media screen and (max-width: 1200px) {
  .sidebar {
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: transparent;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
  }

  .title {
    display: none;
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

   .menu-item {
    padding: 15px 80px;
    margin: 5px;
    margin-left: 0;
    font-size: 20px;
    width: auto;
    border-radius: 8px;
  }
  .home-section {
    margin-top: 120px;
  }
